
body{
  font-family: "Gill Sans Extrabold", sans-serif;
  background-color: black;
}
#container{
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/bgImg.jpg);
  height: 550px;
  width: 1000px;
  margin: 20px auto;
}
#calculator{
  background-color: aliceblue;
  height: 520px;
  width: 320px;
  margin: 0px auto;
  position: relative;
  top: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0;
}
#history{
  height: 20px;
  text-align: right;
  margin:0px 20px;
  color: #7d8083;
  padding-top: 20px;
  font-size: 15px;
}
#output{
  height: 30px;
  text-align: right;
  margin:10px 20px;
  font-size: 15px;
}
#result{
  height: 120px;
}
#keyboard{
  height: 400px;
}
.number, .empty.operator{
	background-color: #eaedef;
}
.number , .operator .empty{
  cursor: pointer;
}

.operator:active ,.number:active{
  font-size: 13px;
}
.operator:focus, .number:focus , .empty:focus{
  outline: 0px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
button:nth-child(4){
  font-size: 20px;
  background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(12){
  font-size: 20px;
	background-color: #f08080;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}
